{{page-title "Ember Playground"}}

<header>
  <h2>
    Ember Playground
  </h2>
</header>

<div class="container">
  <nav>
    <LinkTo @route="demos.promise">
      Promise Component
    </LinkTo>

    <LinkTo @route="demos.promise">
      Promise Component
    </LinkTo>
  </nav>

  <section class="">
    {{outlet}}
  </section>
</div>